* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus::placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input.error {
  border: 2px solid #ff0000;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.container {
  max-width: 1250px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 25px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.active {
  padding: 15px 0px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 170px;
  height: 40px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__list {
  position: relative;
  z-index: 2;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin: 0px 30px 0px 0px;
}

.header__item a {
  font-size: 18px;
  color: #523314;
  font-weight: 700;
  position: relative;
}

.header__item a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background-color: #523314;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__item a.active::before {
  width: 70%;
}

.header__item:last-child {
  margin: 0;
}

.header__menu {
  display: none;
}

.fullscreen {
  background: url("../img/fullscreen/01.jpg") center/cover no-repeat;
  padding: 100px 0px 0px 0px;
}

.fullscreen__body {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  bottom: -70px;
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 60px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6509803922);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6509803922);
}

.fullscreen__title {
  margin: 0px 0px 30px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.fullscreen__title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fullscreen__title h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: clamp(1.5625rem, 0.4439rem + 5.5928vw, 3.125rem);
  line-height: 1.2;
}

.fullscreen__line {
  width: 100px;
  height: 6px;
  background-color: #c07830;
  margin: 0px 0px 30px 0px;
}

.fullscreen__text {
  margin: 0px 0px 30px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}

.fullscreen__text.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fullscreen__text p {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: clamp(1rem, 0.821rem + 0.8949vw, 1.25rem);
}

.fullscreen__link {
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}

.fullscreen__link.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fullscreen__link a {
  display: inline-block;
  padding: 15px 25px;
  background-color: #c07830;
  border-radius: 20px;
  font-family: "Arial", sans-serif;
  font-size: clamp(1rem, 0.821rem + 0.8949vw, 1.25rem);
  color: #ffffff;
}

.about {
  padding: 200px 0px 100px 0px;
  background-color: #f4e5d6;
}

.about__body {
  min-height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
  grid-template-columns: 30% 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.about__image {
  background: url("../img/about/01.jpg") center/cover no-repeat;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.about__image.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.about__content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  margin: 0px 0px 35px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  opacity: 0;
}

.about__title.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.about__title h1 {
  font-size: clamp(2.5rem, 2.1923rem + 1.5385vw, 3.125rem);
  font-weight: 300;
  text-align: center;
}

.about__line {
  width: 100px;
  height: 5px;
  background-color: #c07830;
  margin: 0px 0px 30px 0px;
}

.about__text {
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
  opacity: 0;
}

.about__text.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.about__text p {
  text-align: center;
  font-size: clamp(1.125rem, 1.0635rem + 0.3077vw, 1.25rem);
  line-height: 1.2;
}

.nums {
  background: url("../img/nums/01.jpg") center/cover no-repeat;
  padding: 100px 0px;
  position: relative;
}

.nums::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.nums__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  position: relative;
  z-index: 2;
}

.nums__item {
  background-color: rgba(255, 255, 255, 0.9568627451);
  padding: 50px 15px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

.nums__title {
  margin: 0px 0px 10px 0px;
}

.nums__title h1 {
  font-size: clamp(2.625rem, 2.2671rem + 1.7897vw, 3.125rem);
  text-align: center;
}

.nums__line {
  width: 70px;
  height: 4px;
  background-color: #c07830;
  margin: 0px 0px 20px 0px;
}

.nums__text {
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.nums__text.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.nums__text p {
  text-align: center;
  font-size: clamp(1.125rem, 1.0355rem + 0.4474vw, 1.25rem);
}

.why {
  padding: 100px 0px;
  background-color: #f4e5d6;
}

.why__title {
  margin: 0px 0px 50px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.why__title.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.why__title h1 {
  text-align: center;
  font-size: clamp(1.5625rem, 1.3388rem + 1.1186vw, 1.875rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 0px 20px 0px;
  position: relative;
}

.why__title h1::before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #c07830;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.why__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.why__item.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.why__image {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.why__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.why__text p {
  font-size: clamp(1.125rem, 1.0355rem + 0.4474vw, 1.25rem);
  line-height: 1.2;
  text-align: center;
}

.services {
  padding: 100px 0px;
}

.services.beige {
  background-color: #f4e5d6;
}

.services__title {
  margin: 0px 0px 50px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.services__title.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__title h1 {
  text-align: center;
  font-size: clamp(1.5625rem, 1.3388rem + 1.1186vw, 1.875rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 0px 20px 0px;
  position: relative;
}

.services__title h1::before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #c07830;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.services__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.services__item.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services-item__image {
  width: 100%;
  height: 0;
  padding: 0px 0px 60% 0px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin: 0px 0px 15px 0px;
}

.services-item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.services-item__title {
  margin: 0px 0px 10px 0px;
}

.services-item__title:last-child {
  margin: 0;
}

.services-item__title h1 {
  font-size: clamp(1.1875rem, 1.1428rem + 0.2237vw, 1.25rem);
  font-weight: 700;
}

.services-item__text p {
  font-size: clamp(0.9375rem, 0.8928rem + 0.2237vw, 1rem);
  line-height: 1.2;
}

.portfolio {
  padding: 100px 0px;
}

.portfolio__title {
  margin: 0px 0px 50px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.portfolio__title.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.portfolio__title h1 {
  text-align: center;
  font-size: clamp(1.5625rem, 1.3388rem + 1.1186vw, 1.875rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 0px 20px 0px;
  position: relative;
}

.portfolio__title h1::before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #c07830;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.portfolio__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.portfolio__item {
  width: 100%;
  height: 0;
  padding: 0px 0px 70% 0px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.portfolio__item.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.portfolio__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-item__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.415);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.portfolio-item__title {
  margin: 0px 0px 15px 0px;
}

.portfolio-item__title h2 {
  text-align: center;
  font-size: clamp(1.25rem, -0.1896rem + 3.003vw, 1.875rem);
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-item__link a {
  font-weight: 100;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: clamp(1rem, 0.4242rem + 1.2012vw, 1.25rem);
  border: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item__link a:hover {
  background-color: #ffffff;
  color: #000000;
}

.contacts {
  padding: 100px 0px;
  background-color: #f4e5d6;
}

.contacts__title {
  margin: 0px 0px 50px 0px;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.contacts__title.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.contacts__title h1 {
  text-align: center;
  font-size: clamp(1.5625rem, 1.3388rem + 1.1186vw, 1.875rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 0px 20px 0px;
  position: relative;
}

.contacts__title h1::before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #c07830;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contacts__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  opacity: 0;
}

.contacts__info.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.contacts__form {
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  opacity: 0;
}

.contacts__form.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.contacts-info__phone {
  margin: 0px 0px 10px 0px;
}

.contacts-info__phone a {
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  color: #c07830;
  position: relative;
}

.contacts-info__phone a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: url("../img/contacts/icons/01.png") center/contain no-repeat;
}

.contacts-info__name {
  margin: 0px 0px 10px 0px;
}

.contacts-info__name span {
  font-size: 16px;
  letter-spacing: 1px;
}

.contacts-info__email {
  margin: 0px 0px 20px 0px;
}

.contacts-info__email a {
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  color: #c07830;
  position: relative;
}

.contacts-info__email a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: url("../img/contacts/icons/02.png") center/contain no-repeat;
}

.contacts-info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-info__item {
  margin: 0px 10px 0px 0px;
  width: 30px;
  height: 30px;
  position: relative;
}

.contacts-info__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts-info__item:last-child {
  margin: 0;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.form-name input {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid rgb(205, 200, 200);
}

.form-phone input {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid rgb(205, 200, 200);
}

.form-email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-email input {
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid rgb(205, 200, 200);
}

.form-send {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-send button {
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #c07830;
}

.anchor {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  z-index: 30;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background: url("../img/anchor/01.png") center/contain no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.anchor.show {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding: 20px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  width: 120px;
  height: 50px;
  position: relative;
  margin: 0px 0px 10px 0px;
}

.footer__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__text p {
  font-size: 16px;
}

.footer__text p a {
  color: #c07830;
  font-weight: 700;
}

@media (max-width: 970px) {
  .container {
    max-width: 800px;
  }

  .about__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    min-height: auto;
    row-gap: 30px;
  }

  .about__image {
    padding: 0px 0px 50% 0px;
  }

  .nums__body {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .why__body {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .services__body {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .form-send {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow-y: hidden;
  }

  .container {
    max-width: none;
  }

  .header__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }

  .header__list.active {
    top: 0;
  }

  .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__item {
    margin: 0px 0px 15px 0px;
  }

  .header__item a {
    font-size: 20px;
  }

  .header__menu {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: relative;
    z-index: 2;
  }

  .header__menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #523314;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu span:first-child {
    top: 0;
  }

  .header__menu span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header__menu span:last-child {
    bottom: 0;
  }

  .header__menu.active span:first-child {
    top: 14px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__menu.active span:nth-child(2) {
    -webkit-transform: translate(0, -50%) scale(0);
        -ms-transform: translate(0, -50%) scale(0);
            transform: translate(0, -50%) scale(0);
  }

  .header__menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 14px;
  }

  .fullscreen__body {
    padding: 50px 30px;
  }

  .nums__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }

  .why__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    max-width: 400px;
    margin: 0 auto;
  }

  .services__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    max-width: 400px;
    margin: 0 auto;
  }

  .portfolio__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }

  .portfolio-item__title h2 {
    font-size: clamp(1.25rem, 0.8026rem + 2.2371vw, 1.875rem);
  }

  .portfolio-item__link a {
    font-size: clamp(1rem, 0.821rem + 0.8949vw, 1.25rem);
  }

  .contacts__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .form {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .about__content {
    padding: 50px 15px;
  }

  .about__title {
    margin: 0px 0px 20px 0px;
  }

  .about__line {
    margin: 0px 0px 20px 0px;
  }

  .nums__line {
    margin: 0px 0px 15px 0px;
  }

  .why__image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 400px) {
  .header__logo {
    width: 120px;
    height: 30px;
  }

  .about__image {
    padding: 0px 0px 90% 0px;
  }

  .anchor {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
  }
}

.webp .fullscreen { background: url(../img/fullscreen/01.webp) center/cover no-repeat; }

.webp .about__image { background: url(../img/about/01.webp) center/cover no-repeat; }

.webp .nums { background: url(../img/nums/01.webp) center/cover no-repeat; }

.webp .contacts-info__phone a::before { background: url(../img/contacts/icons/01.webp) center/contain no-repeat; }

.webp .contacts-info__email a::before { background: url(../img/contacts/icons/02.webp) center/contain no-repeat; }

.webp .anchor { background: url(../img/anchor/01.webp) center/contain no-repeat; }